@charset "utf-8";
@import url(https://use.typekit.net/efj7gzu.css);

.title {
	color: #a2863d;
	font-family: "trajan-pro-3";
	text-shadow: 3px 3px 8px #000000;
	text-align: center;
	font-size: 45px;
}
.explanation {
	color: #FFFFFF;
	font-family: "trajan-pro-3";
	text-shadow: 3px 3px 8px #000000;
	font-size: 20px;
	text-align: center;
	margin: 30px;
}
.video-section {
	border: 3px solid red;
	max-width: 49%;
	height: 600px;
	display: inline-block;
}
.video-text {
	display: inline-block;
	max-width: 50%;
	padding-right: 5%;
	vertical-align: center;
}
.video-title {
	color: #a2863d;
	font-family: "trajan-pro-3";
	text-shadow: 3px 3px 8px #000000;
	text-align: center;
	font-size: 30px;
}
.video-notes {
	
}
p {
	color: #FFFFFF;
	font-family: "calibri";
}
video {
	width: 20%;
	height: auto;
	vertical-align: center;
	margin: 0;
}
body {
	background-color: #1e345d;
	max-width: 1366px;
	border: 1px solid red;
	margin: auto;